CONFIG_SOC_SERIES_SIM3U=y

# enable uart driver
CONFIG_SERIAL=y

# enable console
CONFIG_CONSOLE=y
CONFIG_UART_CONSOLE=y

# enable GPIO
CONFIG_GPIO=y

CONFIG_TEST_RANDOM_GENERATOR=y
CONFIG_TIMER_RANDOM_GENERATOR=y

CONFIG_SPI=y
CONFIG_TRX=y
CONFIG_TRX_SI4467=y
CONFIG_TRX_SI4467_RX_TX_GPIO=y
CONFIG_TRX_SI4467_RF_CONTROL_RX_HANDLING=y
CONFIG_TRX_SI4467_RF_CONTROL_TX_HANDLING=y
